
h1,h3{
   text-align: center;
}

.container{
    display:flex;
}
.snacks-container{
    flex:1;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 50px;
    margin:30px;
}
.cart-container{
    flex: 0 0 20%;
    margin: 30px;
    border:5px solid green;
    height:600px;
    position: sticky;
    padding:20px;

}

.btn-choose {
   display: block;
    border-radius: 50px;
    padding:10px 12px;
    width:150px;
    border:none;
    background-color: goldenrod;
    margin:0 auto;
    
    
}